* {
    margin: 0px;
    padding: 0px;
}

html {
    color: #00243E;
    background-color: #ED9A8C;
    font-family: 'Shadows Into Light', cursive;
    font-size: 22px;
    overflow-x: hidden;
}

.body {
    opacity: 1;
    position: relative;
}

.landing {
    background-color: #23B6B9;
    height: 500px;
}

button {
    width: 130px;
    height: 30px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12%;
    font-family: 'Shadows Into Light', cursive;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: #ED9A8C;
    border-color: #ED9A8C;
}

.buttons {
    background-color: inherit;
    position: fixed;
    width: 100%;
    /* overflow: hidden; */
    top: 0;
}

#imgvvn {
    margin-top: 70px;
    padding-top: 40px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#about-bg-diagonal {
    width: 42%;
    float: right;
    background-image: url("../images/rose.jpg");
    border-left: 200px solid #ED9A8C;
    border-top: 500px solid transparent;
}

.about {
    margin-left: 45px;
    padding-top: 80px;
}

#interest-bg-diagonal {
    width: 42.5%;
    float: left;
    background-image: url("../images/rose.jpg");
    border-right: 200px solid #ED9A8C;
    border-top: 500px solid transparent;
}

.interests {
    margin-right: 30px;
    padding-top: 200px;
    margin-bottom: 183px;
}

#contact {
    background-color: #23B6B9;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    /* margin-top: 218px; */
}

.contacts {
    color: white;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    margin-left: 20px;
    height: 600px;
    padding-left: 450px;
    padding-top: 150px;
    /*border-left: thin solid white;*/
}

#icons {
    margin-top: 50px;
}

.fa-linkedin-square {
    margin-right: 15px;
}

.fa-github {
    margin-left: 15px;
}