* {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #00243E;
}

html {
    color: #00243E;
    background-color: #ED9A8C;
    font-family: 'Shadows Into Light', cursive;
    font-size: 22px;
    overflow-x: hidden;
}

/*=============================================================
                          Home
=============================================================*/
.landing {
    background-color: #23B6B9;
    height: 500px;
}

button {
    width: 130px;
    height: 30px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 22px;
    margin-left: 8%;
    font-family: 'Shadows Into Light', cursive;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: #ED9A8C;
    border-color: #ED9A8C;
}

#buttons {
    background-color: inherit;
    position: fixed;
    width: 100%;
    top: 0;
}

#imgvvn {
    margin-top: 70px;
    padding-top: 40px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*=============================================================
                          About
=============================================================*/
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#about-bg-diagonal {
    width: 42%;
    float: right;
    background-image: url("../images/rose.jpg");
    border-left: 200px solid #ED9A8C;
    border-top: 500px solid transparent;
}

.about {
    margin-left: 45px;
    padding-top: 80px;
}

/*=============================================================
                          Interest
=============================================================*/
#interest-bg-diagonal {
    width: 42.5%;
    float: left;
    background-image: url("../images/rose.jpg");
    border-right: 200px solid #ED9A8C;
    border-top: 500px solid transparent;
}

.interests {
    margin-right: 30px;
    padding-top: 200px;
    margin-bottom: 148px;
}

.hide {
    display: none;
}

ul {
    list-style: none;
}


/*=============================================================
                          Links
=============================================================*/
#contact {
    background-color: #23B6B9;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}

i {
    color: #ED9A8C;
}

#icons {
    padding: 0;
    margin: 0;
}