* {
    margin: 0px;
    padding: 0px;
}

html {
    color: #00243E;
    background-color: #ED9A8C;
    font-family: 'Shadows Into Light', cursive;
    font-size: 22px;
    overflow-x: hidden;
}

.landing {
    background-color: #23B6B9;
    height: 600px;
}

button {
    width: 130px;
    height: 30px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12%;
    font-family: 'Shadows Into Light', cursive;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: #ED9A8C;
    border-color: #ED9A8C;
}

.buttons {
    align-items: center;
    background-color: inherit;
}

#imgvvn {
    margin-top: 70px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#about-bg-diagonal {
    width: 42%;
    float: right;
    background-image: url("../images/rose.jpg");
    border-left: 200px solid #ED9A8C;
    border-top: 500px solid transparent;
}

.about {
    margin-left: 45px;
    padding-top: 80px;
}

#interest-bg-diagonal {
    width: 42.5%;
    float: left;
    background-image: url("../images/rose.jpg");
    border-right: 200px solid #ED9A8C;
    border-top: 500px solid transparent;
}

.interests {
    margin-right: 30px;
    padding-top: 200px;
}

#contact {
    background-color: #23B6B9;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    margin-top: 218px;
}

#icons {
    margin-top: 50px;
}

.fa-linkedin-square {
    margin-right: 15px;
}

.fa-github {
    margin-left: 15px;
}